name: timeago-docs

services:
    app:
        image: timeago-docs
        container_name: timeago-docs
        build: .
        volumes:
            - .:/app:z
        ports:
            - 3000:5173
